#forma-novi-teniser {
    width: 400px;
    margin-left: 100px;
    margin-top: 40px;
}

.container {
    margin-top: 30px;
}

body {
    background-color: whitesmoke;
}

#forma-izmena-teniser {
    width: 400px;
    margin-left: 100px;
    margin-top: 40px;
}